* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headShot {
    width: 33%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    border: 2px solid white;
    color: white;
}
.nav {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid white;
    color: white;
}
.photoAndName {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 2.5rem;
}

.shortDescription {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.img {
    border: 1px solid;
}

.slide {
    width: 66%; 
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 2.5rem;
    margin-left: 33%;
    padding: 10%;
    text-align: center;
}
.project {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    color: white;
    gap: 2.5rem;
    text-align: center;
    text-align: start;
}

.youtubeProject {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    text-align: center;
    text-align: start;

}

.projectTitle {
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.contactInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2.5rem;
    text-align: center;
}
.slide p  {
    border-bottom: white;

}
/* .mouse is a div that follows the mouse around. I don't want it to be able to interact with the screen. Such as increasing the length of the page when it is pressed to the bottom of the page */
.header {
    width: 100%;
    color: white;
    font-size: xx-large;
    gap: 2.5rem;
    border-bottom: 1px solid white;
}

body {
    background-color: rgb(7.5%,0%,14.9%);
}

.mouse {
    width: 75rem;
    height: 75rem;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgb(22.4%,0%,45.1%), rgb(7.5%,0%,14.9%) 70%, rgb(7.5%,0%,14.9%) 100%);
    position: absolute;
    z-index: -1;
    pointer-events: none;
    position: fixed;

    /* border: 2px solid rgb(22.4%,0%,45.1%); */
}

.resume {
    border: 2px solid grey;
    box-shadow: 0 0 10px 5px grey;
}
.resume:hover {
    box-shadow: 0 0 10px 5px white;
}

#bio p {
    font-size: 25px;
    font-weight: bold;
    width: 50%;
}